.icon-clock { background-image: url(../images/clock.gif); }
.icon-start { background-image: url(../images/time_start.png); }
.icon-pause { background-image: url(../images/time_pause.png); }
.icon-stop { background-image: url(../images/time_stop.png); }

.icon-action {
    background-repeat: no-repeat;
    padding-left: 16px;
    padding-top: 2px;
    padding-bottom: 3px;
}
.icon-action:hover {
    padding-top: 1px;
    padding-bottom: 4px;
}

.icon-start-action { background-image: url(../images/start.png); }
.icon-pause-action { background-image: url(../images/pause.png); }
.icon-stop-action { background-image: url(../images/stop.png); }
.icon-list-action { background-image: url(../images/list.png); }

/* use this if you want the logger in top bar */
#time-logger-menu { margin-right: 8px; }

/* use the one below if you want the time logger in the bottom oon it's own
#time-logger-menu { position:fixed; bottom:0px; right:8px; background:black; padding:1em; }
*/
#time-logger-menu a { margin-right: 0px; }
#time-logger-menu .icon { padding-left: 20px; }

.flyout-menu #time-logger-menu a { display: inline; }

.flyout-menu #time-logger-menu .icon-action {
    background-position: right center;
    background-size: 20px 20px;
    padding-left: 25px;
}

#time-logger-admin td.start-date,
#time-logger-admin td.spent-time,
#time-logger-admin td.msg {
    text-align: center;
}

#time-logger-admin td.user,
#time-logger-admin td.issue {
    text-align: left;
}

#time-logger-admin p.msg {
    text-align: center;
}

#status-transition-list {
    margin-bottom: 10px;
}

#status-transition-list td.zombie {
    font-style: italic;
}
#status-transition-list td.msg {
    text-align: center;
}

#settings form[action="/settings/plugin/time_logger"] > div + div { display: none } /* Hack to remove the div opened by redmine before rendering the plugin settings partial */
