.icon {
    display: inline !important;
    padding-left: 20px !important;
}

.icon-clock {
    background-image: url(../images/colorized/clock.gif);
}

.icon-start {
    background-image: url(../images/colorized/time_start.png);
}

.icon-pause {
    background-image: url(../images/colorized/time_pause.png);
}

.icon-stop {
    background-image: url(../images/colorized/time_stop.png);
}

.icon-action {
    background-position: left;
    background-repeat: no-repeat;
    display: inline !important;
    padding-left: 20px !important;
    padding-right: 5px;
    margin-bottom: -7px;
    margin-right: 0px !important;
}

/*.icon-action:hover {*/
    /*border: 1px solid #5bc0de;*/
/*}*/

.icon-start-action {
    background-image: url(../images/colorized/start.png);
}

.icon-pause-action {
    background-image: url(../images/colorized/pause.png);
}

.icon-stop-action {
    background-image: url(../images/colorized/stop.png);
}

.icon-list-action {
    background-image: url(../images/colorized/list.png);
}

/* use the one below if you want the time logger in the bottom oon it's own
#time-logger-menu { position:fixed; bottom:0px; right:8px; background:black; padding:1em; }
*/

#time-logger-admin td.start-date,
#time-logger-admin td.spent-time,
#time-logger-admin td.msg {
    text-align: center;
}

#time-logger-admin td.user,
#time-logger-admin td.issue {
    text-align: left;
}

#time-logger-admin p.msg {
    text-align: center;
}

#status-transition-list {
    margin-bottom: 10px;
}

#status-transition-list td.zombie {
    font-style: italic;
}

#status-transition-list td.msg {
    text-align: center;
}

#settings form[action="/settings/plugin/time_logger"] > div + div {
    display: none
}

/* Hack to remove the div opened by redmine before rendering the plugin settings partial */
